@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eceef1;
}

.mail_icon {
  width: 100px;
  height: 50px;
  fill: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box_container {
  min-height: 100vh;
  padding: 20px;
  width: 75%;
  margin: auto;
  margin-top: 20px;
}

.layout_container {
  min-height: 100vh;
  padding: 20px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav2 li {
  display: inline-block;
  margin-right: 40px;
}

.main_lay,
.single_post_wrapper {
  display: grid;
  width: 80%;
  grid-template-columns: 65% 35%;
  gap: 5;
  margin: auto;
}

.sidebar {
  width: 100%;
}

::-webkit-scrollbar-thumb {
  display: none;
}
.post {
  border-top-width: 1px;
}

.post:last-child {
  border-bottom-width: 1px;
}

/* .preview_title::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  left: 0;
  top: 0;
  background: #7d66c9;
} */

@media screen and (max-width: 720px) {
  .main_lay,
  .single_post_wrapper {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
  }

  .box_container {
    width: 100%;
  }

  .sidebar {
    margin: 0;
    background-color: #fff;
    padding: 5px 10px;
  }

  .sidebar_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .relatedPost_card_wrapper {
    width: 100%;
  }

  .login {
    min-width: 90vw;
  }

  .search {
    padding: 0;
  }

  .thumb_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
  }
  .thumb_wrap * {
    width: 100px;
    height: 80px;
  }

  .author {
    display: inline;
  }
}
